.create-user--row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1em;
}

.create-user--button {
  width: 40%;
  text-align: center;
}

.create-user--actions {
  display: flex;
  justify-content: space-between;
};
