.header {
  height: 3.5em;
  background-color: #663399;
  padding-left: 2em;
  display: flex;
  align-items: center;
}

.header--title {
  margin-left: 0.5em;
  font-size: 2em;
  border-left: 2px solid white;
  padding-left: 0.5em;
  color: white;
}
