.dashboard {
  background-color: #f5f5f5;
  height: calc(100vh - 3.5em - 3.5em);
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.dashboard--subtitle {
  margin-top: 0;
  text-align: center;
  padding-top: 0.5em;
}

.dashboard--content {
  display: flex;
  justify-content: center;
}

.dashboard--actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
}

.list-wrapper {
  /* border-radius: 0.5em; */
  /* border: 1px solid black; */
  overflow: hidden;
  padding: 0.5em 0;
}

.list {
  display: inline-flex;
  flex-direction: column;
  width: 20em;
  padding-left: 0;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0 0 8px 0 rgba(0,0,0, 0.08);
  max-height: 50vh;
  min-height: 30vh;
  overflow-y: auto;
}

.list--item {
  list-style: none;
  /* background-color:steelblue; */
  transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-top: 1px solid rgba(0, 0, 0, 0.12);
}

.list--item.list--item-empty {
  padding: 4em 2em;
}

.list--item:first-child:not(.list--item-empty) {
  padding-top: 0.5em;
  border-top: none;
}

.list--item:last-child:not(.list--item-empty) {
  padding-bottom: 0.5em;
}

.list--link {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  padding: 1.5em;
  color: rgba(0, 0, 0, 0.87);
  position: relative;
}

.list--link:hover .list--link-close-icon {
  visibility: visible;
}

.list--link-close-icon {
  transform: rotate(45deg);
  position: absolute;
  right: 1.5em;
  font-size: 2em;
  visibility: hidden;
}

.list--link-close-icon:hover {
  color: red;
}

.list--link:after {
  content: '💬';
  position: absolute;
  right: 1em;
}

.list--link:hover {
  background-color: rgba(0, 0, 0, 0.04);
}

.button {
  padding: 5px 18px;
  border-radius: 6px;
  transition: background-color 150ms;
  color: #2b343f;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  cursor:pointer;
  padding: 8px 16px;
  flex: 0 0 auto;
  border: 1px solid #2c6feb;
  background-color: #397dff;
  box-shadow: 0 2px 8px 0 rgba(43, 47, 50, .04);
  transition-duration: 120ms;
  color: #fff;
}

.button.button-secondary {
  background-color: white;
  border-color: white;
  color: black;
  transition: border-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.button.button-secondary:hover {
  border-color: black;
  background-color: white;
}

.button:hover {
  background-color: #2769e2;
}

.button:disabled {
  background-color: #ddd;
  pointer-events: none;
  border-color: #ddd;
}

.dashboard--buttons {
  display: flex;
  justify-content: space-between;
  width: 320px;
}

.create-user-form-wrapper {
  width: 320px;
}
