.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1em;
}

.button {
  width: 40%;
  text-align: center;
}

.actions {
  display: flex;
  justify-content: space-between;
};
