.user-list-wrapper {
  overflow: hidden;
  padding: 0.5em 0;
}

.user-list {
  display: inline-flex;
  flex-direction: column;
  width: 20em;
  padding-left: 0;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0 0 8px 0 rgba(0,0,0, 0.08);
  max-height: 50vh;
  min-height: 30vh;
  overflow-y: auto;
}

.user-list--item {
  list-style: none;
  /* background-color:steelblue; */
  transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-top: 1px solid rgba(0, 0, 0, 0.12);
}

.user-list--item.list--item-empty {
  padding: 4em 2em;
}

.user-list--item:first-child:not(.user-list--item-empty) {
  padding-top: 0.5em;
  border-top: none;
}

.user-list--item:last-child:not(.user-list--item-empty) {
  padding-bottom: 0.5em;
}

.user-list--link {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  padding: 1.5em;
  color: rgba(0, 0, 0, 0.87);
  position: relative;
}

.user-list--link:hover .user-list--link-cross-icon {
  visibility: visible;
}

.user-list--link-cross-icon {
  transform: rotate(45deg);
  position: absolute;
  right: 1.5em;
  font-size: 2em;
  visibility: hidden;
}

.user-list--link-cross-icon:hover {
  color: red;
}

.user-list--link:after {
  content: '💬';
  position: absolute;
  right: 1em;
}

.user-list--link:hover {
  background-color: rgba(0, 0, 0, 0.04);
}
